
# Ignore datasets
*.csv

# Ignore model files
*.pkl
*.h5
*.joblib

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environments
.venv/
env/
venv/

# Ignore OS-specific files
.DS_Store
Thumbs.db
